<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif;">
  <p>Olá {{name}}, tudo bem?</p>
  <p>Seja bem-vindo é um prazer ter você conosco, aproveitando queria informar que seus dados já foram registrados no
    nosso sistema. Segue abaixo os dados informados:
  </p>
  <p>
    <table style="font-family: arial, sans-serif; border-collapse: collapse;">
      <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Nome</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Email</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Telefone</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Celular</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Contato</th>
      </tr>
      <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{name}}</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{email}}</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{telefone}}</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{celular}}</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{contato}}</th>
      </tr>
    </table>
  </p>
  <p>
    Se tiver quaisquer dado incorreto, favor responder esse e-mail.<br>
  </p>
  <p>
    Atenciosamente, <br>
    <strong>Equipe Buffet Malta.</strong>
  </p>
</div>
