<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif;">
  <p>Prezado(a) <strong>{{name}}</strong>.</p>
  <p>
    Seu evento do dia <strong>{{data}}</strong> já se encontra <strong>{{status}}</strong> para {{convidados}}
    convidados no valor de R$ <strong>{{valorPessoa}}</strong> cada em {{localEvento}} às {{horaInicio}}
  </p>
  <h4>Valores</h4>
  <p>
    Buffet de churrasco: R$ {{buffetValor}} <br>
    Taxa de deslocamento: R$ {{taxa}} <br>
    <strong>Totalizando: R$ {{valorTotal}} </strong><br>
    <strong>50%:</strong> R$ {{metadeValor}}
  </p>
  <h4>Observações</h4>
  <p>{{observacao}}</p>
  <h4>Forma de pagamento</h4>
  <p>
    Metade do valor antes da data do evento e o restante no termino do evento em espécie, transferência ou cheque.
  </p>
  <h4>Dados bancários</h4>
  <p>
    <ul>
      <li><strong>Banco Bradesco</strong></li>
      <li>AG: 3649 – 8</li>
      <li>CC: 16695 - 2</li>
      <li>CNPJ: 12.807.804/0001-86</li>
      <li>JS VIEIRA ALIMENTAÇÃO E BUFE – ME </li>
    </ul>
  </p>
  <p>
    Em caso de efetuação de pagamentos, favor sinalizar junto com o comprovante. <br>Se tiver quaisquer dúvidas,
    estaremos a disposição.<br>
  </p>
  <p>
    Atenciosamente, <br>
    <strong>Equipe Buffet Malta.</strong>
  </p>
</div>
